[submodule "tests"]
	path = tests
	url = https://github.com/TrueBlocks/trueblocks-tests
[submodule "node"]
	path = node
	url = https://github.com/TrueBlocks/trueblocks-node.git
[submodule "examples"]
	path = examples
	url = https://github.com/TrueBlocks/trueblocks-examples.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/TrueBlocks/trueblocks-sdk.git
