# For now, the code
*.xcodeproj
objs
data
results
bin
monitors
tests
other
saved_docs
backups
working
quickBlocks Facts
src/tools/speedTest/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

src/tools/scripts/ethsed
*.pptx

*.key
