# For now, the code
*.cpp
*.h
makefile
*.xcodeproj
objs
data
results
bin
monitors
tests
other
saved_docs
scripts
backups

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
