# For now, the code
*.xcodeproj
objs
data
results
monitors
other
saved_docs
backups
working
quickBlocks Facts
src/tools/speedTest/
build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

src/tools/scripts/ethsed
*.pptx

*.key

# Hidden files
.DS_Store

# bin generated
bin

fix

issues_detected_ubuntu.txt
