// Go Version
go 1.22

use (
    ./sdk/go
    ./src/apps/chifra
    ./src/dev_tools/goMaker
    ./src/dev_tools/sdkTester
    ./src/examples/usesSDK
    ./src/examples/balanceChart
    ./src/examples/optimism1
)
