# README - [{NAME}]

## Overview

[ADD A DESCRIPTION OF THIS EXAMPLE]

## Prerequisites

Ensure you have the following installed and running:

- Go Version 1.22 or higher
- The latest version of TrueBlocks Core

## Installation

Clone the repository:

```bash
git clone https://github.com/TrueBlocks/trueblocks-core.git
```

Build TrueBlocks Core by following the ([installation instructions](https://trueblocks.io/docs/install/install-core/)), and then navigate to the example directory:

```bash
cd ../examples/[{NAME}]
```

## Usage

Run the code from the example folder using the following command:

```bash
go run .
```

There are no command line options.

### Output

The code produces results similar to the following:

```bash
...
DATA
DATA
DATA
...
```

![MAKE AN IMAGE](./IMAGE_NAME.png)

## Troubleshooting

If you encounter issues, check the following:

- Ensure at least Go Version 1.22.
- Make sure you have a valid Ethereum mainnet RPC configured.
- Ensure TrueBlocks Core is properly installed and configured.
- Verify the command-line arguments are correct and within valid ranges.

For further assistance, refer to the TrueBlocks Documentation.

## License

See the LICENSE file at the root of this repo for details.
