// Copyright 2024 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were generated with makeClass --run. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package sdk

import (
	// EXISTING_CODE
	// EXISTING_CODE
)

type [{PROPER}]Options struct {
[{FIELDS}]	// EXISTING_CODE
	// EXISTING_CODE
}

// [{PROPER}] implements the chifra [{LOWER}] command for the SDK.
func (opts *[{PROPER}]Options) [{PROPER}](w io.Writer) error {
	values := make(url.Values)

[{CODE}]	// EXISTING_CODE
	// EXISTING_CODE
	opts.Globals.mapGlobals(values)

	return [{PKG}].[{PROPER}](w, values)
}

// Get[{PROPER}]Options returns an options instance given a string array of arguments.
func Get[{PROPER}]Options(args []string) (*[{PROPER}]Options, error) {
	var opts [{PROPER}]Options

	for i, arg := range args {
		// EXISTING_CODE
		// EXISTING_CODE
	}

	return &opts, nil
}

[{ENUMS}]// EXISTING_CODE
// EXISTING_CODE
