<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Swagger UI</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.24.2/swagger-ui.css" />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
      body {
        margin: 0;
        background: #fafafa;
      }
    </style>
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.24.2/swagger-ui-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.24.2/swagger-ui-standalone-preset.js"></script>
    <script>
      window.onload = function () {
        var spec = {
          openapi: '3.0.0',
          info: {
            title: 'TrueBlocks API',
            description: 'An API for accessing cached Ethereum blockchain data and accounts',
            contact: {email: 'jrush@quickblocks.io'},
            license: {name: 'Apache 2.0', url: 'http://www.apache.org/licenses/LICENSE-2.0.html'},
            version: '0.8.04',
          },
          servers: [
            {url: 'http://localhost:8080', description: 'Local endpoints'},
            {
              url: 'https://virtserver.swaggerhub.com/trueblocks/TrueBlocks/0.8.04',
              description: 'SwaggerHub API Auto Mocking',
            },
          ],
          tags: [
[{TAGS}]          ],
          paths: {
[{PATHS}]          },
          components: {
            schemas: {
              response: {
                required: ['result'],
                type: 'object',
                properties: {
                  data: {
                    type: 'object',
                    example: [],
                  },
                  error: {type: 'array', example: ['error 1', 'error 2'], items: {type: 'string'}},
                },
              },
            },
          },
        };
        // Build a system
        const ui = SwaggerUIBundle({
          spec: spec,
          dom_id: '#swagger-ui',
          deepLinking: true,
          presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
          layout: 'StandaloneLayout',
        });
        window.ui = ui;
      };
    </script>
  </body>
</html>
