# Compiled Object files
*.slo
*.lo
*.o
*.obj
objs
objs/*

# Mac junk
*.xcodeproj
.DS_Store
ethslurp
api_key
TODO.txt
abis
theData/*
docs
docs/*
data
data/*
src
src/*
src/*/*
email
email/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
junk/
build/
docs/_build
docs/utils/__pycache__

# vim stuff
*.swp

abis.tar.gz
theData.tar.gz

file.txt
