// remove margin from navbar, to avoid scrunching the search box
@include media-breakpoint-up(md) {
    .navbar-form {
      margin-left: 0rem;
    }
}

// main body block fills up the remaining space
// only on xl screens
@include media-breakpoint-up(lg) {
    .col-lg-12 {
        min-width: calc(100% - 180px - 0px); // no right sidebar
        max-width: 100%;
    }
    .col-lg-11 {
        min-width: calc(100% - 180px - 0px); // no right sidebar
        max-width: 100%;
    }
    // this tag is used to set the width of the
    // left sidebar, as its the only block in
    // the layout that's this size.
    //     large screen: 992px
    //     number of columns: 16
    //     4 column width: 248px (992px * 4 / 16)
    //     3 column width: 186px (992px * 3 / 16)
    .col-lg-4 {
        min-width: 180px;
        max-width: 180px;
    }
    // less whitespace on the header on the right
    .docs-links h3,
    .page-links h3 {
      margin: 1.125rem 0rem 0.75rem 0;
      padding: 1.375rem 0 0 0;
    }
}

@include media-breakpoint-up(xl) {
    .col-xl-9 {
        min-width: calc(100% - 180px - 180px);
        max-width: 100%;
    }
    // set size of right sidebar
    .col-xl-3 {
        min-width: 180px;
        max-width: 180px;
    }
}

// remove extra top padding from the first item in a list
// this is used to display the first docs page, which replaces
// what would otherwise be a list of docs pages in the layout
.docs.list .content {
    padding-top: 0;
  }