package sdk

import "github.com/TrueBlocks/trueblocks-core/src/apps/chifra/pkg/types"

// Modeler interface exposes the Model method for SDK consumers
type Modeler interface {
	Model(chain, format string, verbose bool, extraOpts map[string]any) types.Model
}

// Model type alias for the return type of Model()
type Model = types.Model
type ModelProps = types.ModelProps

{{range .SortedStructs}}type {{.Class}} = types.{{.Class}}
{{end}}

// EXISTING_CODE
// EXISTING_CODE
