/*
output: src/apps/chifra/pkg/types/types_modeler.go
scope: codebase
*/

package types

type Modeler interface {
	Model(chain, format string, verbose bool, extraOpts map[string]any) Model
}

type Model struct {
	Data  map[string]any
	Order []string
}

type ModelProps struct {
	Chain     string
	Format    string
	Verbose   bool
	ExtraOpts map[string]any
}

func NewModelProps(chain, format string, verbose bool, extraOpts map[string]any) *ModelProps {
	return &ModelProps{
		Chain:     chain,
		Format:    format,
		Verbose:   verbose,
		ExtraOpts: extraOpts,
	}
}

// EXISTING_CODE
// EXISTING_CODE
