module github.com/TrueBlocks/trueblocks-core/examples/[{LOWER}]

// Go Version
go 1.22

replace github.com/TrueBlocks/trueblocks-core/sdk/v3 => ../../sdk

replace github.com/TrueBlocks/trueblocks-core/src/apps/chifra => ../../src/apps/chifra

require github.com/TrueBlocks/trueblocks-core v2.5.8-release.0.20240422010715-cf442e547b61+incompatible // indirect
