module github.com/TrueBlocks/trueblocks-core/examples/[{LOWER}]

// Go Version
go 1.22

require (
	github.com/TrueBlocks/trueblocks-core/sdk v0.0.0-20240605222744-1cbeec2938e0
	github.com/TrueBlocks/trueblocks-core/src/apps/chifra v0.0.0-20240605222744-1cbeec2938e0
)
