{{$reason := "[{REASON}]"}}{{range .GroupList "[{GROUP}]"}}---
title: "{{.GroupTitle}}"
description: "{{.Description}}"
lead: ""
lastmod:
  - :git
  - lastmod
  - publishDate
draft: false
{{.GroupAlias $reason}}menu:{{.GroupMenu $reason}}
weight: {{.Num}}
toc: true
---

{{.GroupIntro $reason}}
{{.GroupMarkdowns $reason .GroupName}}
{{if eq $reason "model"}}## Base types

This documentation mentions the following basic data types.

{{.BaseTypes}}

{{end}}*Copyright (c) 2024, TrueBlocks, LLC. All rights reserved. Generated with goMaker.*{{end}}
