openapi: 3.1.3
info:
  title: TrueBlocks API
  contact:
    email: info@trueblocks.io
    url: https://www.trueblocks.io
  license:
    name: GPL 3.0
    url: http://www.gnu.org/licenses/
  version: {{.Version}}
  description: >
{{.Description}}
servers:
  - url: http://localhost:8080
    description: Local endpoints
tags:
{{.Tags}}
paths:
{{range .Commands}}{{if .IsRoute}}  /{{.Route}}:
    get:
      tags:
        - {{.Group}}
      summary: {{.Endpoint.Summary}}
      description: {{.Description}} Corresponds to the <a href="/chifra/{{.LowerGroup}}/#chifra-{{.Route}}">chifra {{.Route}}</a> command line.
      operationId: {{.LowerGroup}}-{{.Route}}
      parameters:
{{range .Options}}{{if not .IsHidden}}        - name: {{.SnakeCase}}
          description: {{.Description}}
          required: {{.IsRequired}}
          style: form
          in: query
          explode: true
          schema:
            type: {{.DocType}}
{{end}}{{end}}{{.YamlGlobals}}
      responses:
        "200":
          description: returns the requested data
          content:
            application/json:
              schema:
                properties:
                  data:
                    description: [{PRODUCES}]
                    type: object
                    properties:
                      .DataName:
                        type: string
{{if .HasExample}}                example:{{.Example}}
{{end}}        "400":
          description: bad input parameter
{{end}}{{end}}components:
  schemas:{{range .StructArray}}
    {{.Name}}:
      description: "{{.DocDescr}}"
      type: object
      properties:{{range .Members}}{{if ne .DocOrder 0}}
        {{.Name}}:
          type: {{.BaseType}}
{{if not .IsBaseType}}          format: {{.Format}}
{{end}}{{if ne .Description ""}}          description: "{{.Description}}{{if .IsCalc}} (calculated){{end}}"{{end}}{{end}}{{end}}{{end}}
