{{range .CommandList}}{{if eq .GroupName "[{GROUP}]"}}---
title: "{{.GroupTitle}}"
description: ""
lead: ""
lastmod:
  - :git
  - lastmod
  - publishDate
draft: false
{{.GroupAlias}}menu:
  chifra:
    parent: commands
weight: {{.Num}}
toc: true
---

{{.GroupIntro}}
{{.Markdowns}}
*Copyright (c) 2024, TrueBlocks, LLC. All rights reserved. Generated with goMaker.*{{end}}{{end}}
