// Copyright 2016, 2024 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package types

// EXISTING_CODE
// EXISTING_CODE

type Raw{{.Class}} struct {
	{{.RawFields}}
	// EXISTING_CODE
	// EXISTING_CODE
}

type Simple{{.ModelName}} struct {
	{{.MemberFields}}
	// EXISTING_CODE
	// EXISTING_CODE
}

func (s *Simple{{.ModelName}}) Raw() *Raw{{.Class}} {
	return s.raw
}

func (s *Simple{{.ModelName}}) SetRaw(raw *Raw{{.Class}}) {
	s.raw = raw
}

func (s *Simple{{.ModelName}}) Model(chain, format string, verbose bool, extraOptions map[string]any) Model {
	var model = map[string]interface{}{}
	var order = []string{}

	// EXISTING_CODE
	// EXISTING_CODE

	return Model{
		Data:  model,
		Order: order,
	}
}

{{if .HasTimestamp}} 
func (s *Simple{{.ModelName}}) Date() string {
	return utils.FormattedDate(s.Timestamp)
}
{{end}}

{{.CacheCode}}

// FinishUnmarshal is used by the cache. It may be unused depending on auto-code-gen
func (s *Simple{{.ModelName}}) FinishUnmarshal() {
	// EXISTING_CODE
	// EXISTING_CODE
}

// EXISTING_CODE
// EXISTING_CODE
