// Copyright 2016, 2024 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package daemonPkg

import (
	// EXISTING_CODE
	// EXISTING_CODE

{{range .Commands}}{{if ne .Route "daemon"}}{{if ne .Route ""}}	{{toLower .Route}}Pkg "github.com/TrueBlocks/trueblocks-core/src/apps/chifra/internal/{{toLower .Route}}"
{{end}}{{end}}{{end}}
)

// Route A structure to hold the API's routes
type Route struct {
	Name        string
	Method      string
	Pattern     string
	HandlerFunc http.HandlerFunc
}

var routes = []Route{
{{range .Commands}}{{if ne .Route "daemon"}}{{if ne .Route ""}}	{"Route{{toProper .Route}}", "GET", "/{{toLower .Route}}", func(w http.ResponseWriter, r *http.Request) {
		if err := {{toLower .Route}}Pkg.Serve{{toProper .Route}}(w, r); err != nil {
			RespondWithError(w, http.StatusInternalServerError, err)
		}
	}},
{{end}}{{end}}{{end}}
	// EXISTING_CODE
	// EXISTING_CODE
}

// EXISTING_CODE
// EXISTING_CODE
