## {{.Class}}

{{.ModelIntro}}

The following commands produce and manage {{toPlural .Class}}:

{{.ModelProducers}}

{{toPlural .Class}} consist of the following fields:

{{.MemberTable}}{{if .HasNotes}}

{{.ModelNotes}}{{end}}
