## {{.Class}}

{{.ModelIntro}}

The following commands produce and manage {{toPlural .Class}}:

{{.ModelProducers}}

{{toPlural .Class}} consist of the following fields:

{{.MarkdownTable}}{{if .HasNotes}}

{{.ModelNotes}}{{end}}

*Copyright (c) 2024, TrueBlocks, LLC. All rights reserved. Generated with goMaker.*
