// Copyright 2016, 2024 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package {{.Route}}Pkg

// EXISTING_CODE
// EXISTING_CODE

type simple{{.Class}} struct {
{{range .Members}}{{if .IsSimpField}}{{.GoName}} {{.GoType}} {{.Tag}}
{{end}}{{end}}
	// EXISTING_CODE
	// EXISTING_CODE
}

func (s *simple{{.Class}}) Raw() *types.RawModeler {
	return nil
}

func (s *simple{{.Class}}) Model(chain, format string, verbose bool, extraOptions map[string]any) types.Model {
	var model = map[string]interface{}{}
	var order = []string{}

	// EXISTING_CODE
	// EXISTING_CODE

	return types.Model{
		Data:  model,
		Order: order,
	}
}

{{if .HasTimestamp}} 
func (s *simple{{.ModelName}}) Date() string {
	return utils.FormattedDate(s.Timestamp)
}
{{end}}

// EXISTING_CODE
// EXISTING_CODE
