// Copyright 2016, 2024 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package sdk

import (
	"io"
	"net/url"

	{{.Pkg}} "github.com/TrueBlocks/trueblocks-core/src/apps/chifra/internal/{{toLower .Route}}"
	outputHelpers "github.com/TrueBlocks/trueblocks-core/src/apps/chifra/pkg/output/helpers"
)

// {{toProper .Route}} provides an interface to the command line chifra {{toLower .Route}} through the SDK.
func {{toProper .Route}}(w io.Writer, values url.Values) error {
	{{.Pkg}}.ResetOptions(sdkTestMode)
	opts := {{.Pkg}}.{{toProper .Route}}FinishParseInternal(w, values)
	// EXISTING_CODE
	// EXISTING_CODE
	outputHelpers.InitJsonWriterApi("{{toLower .Route}}", w, &opts.Globals)
	err := opts.{{toProper .Route}}Internal()
	outputHelpers.CloseJsonWriterIfNeededApi("{{toLower .Route}}", err, &opts.Globals)

	return err
}

// EXISTING_CODE
// EXISTING_CODE
