/*
output: src/dev_tools/goMaker/generated/model_[[type]].md
scope: type
*/

## {{.Class}}

{{.ModelIntro}}

The following commands produce and manage {{toPlural .Class}}:

{{.ModelProducers}}

{{toPlural .Class}} consist of the following fields:

{{.ModelMembers}}{{if .HasNotes}}

{{.ModelNotes}}{{end}}
