// Copyright 2016, 2024 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package types

// EXISTING_CODE
// EXISTING_CODE

type {{.Class}} struct {
{{range .Members}}{{if .IsSimpField}}{{.GoName}} {{.GoType}} {{.Tag}}
{{end}}{{end}}	// EXISTING_CODE
	// EXISTING_CODE
}

func (s {{.Class}}) String() string {
	bytes, _ := json.Marshal(s)
	return string(bytes)
}

func (s *{{.Class}}) Model(chain, format string, verbose bool, extraOpts map[string]any) Model {
	var model = map[string]any{}
	var order = []string{}

	// EXISTING_CODE
	// EXISTING_CODE

	return Model{
		Data:  model,
		Order: order,
	}
}

{{if .HasTimestamp}} 
func (s *{{.Class}}) Date() string {
	return base.FormattedDate(s.Timestamp)
}
{{end}}

{{if .IsCachable}}
{{if not .IsMarshalOnly}}
func (s *{{.ClassOrClassGroup}}) CacheName() string {
	return "{{.CacheLoc}}"
}

func (s *{{.ClassOrClassGroup}}) CacheId() string {
	return fmt.Sprintf({{.CacheIdStr}})
}

func (s *{{.ClassOrClassGroup}}) CacheLocation() (directory string, extension string) {
	paddedId := s.CacheId()
	parts := make([]string, 3)
	parts[0] = paddedId[:2]
	parts[1] = paddedId[2:4]
	parts[2] = paddedId[4:6]

	subFolder := strings.ToLower(s.CacheName()) + "s"
	directory = filepath.Join(subFolder, filepath.Join(parts...))
	extension = "bin"

	return
}

{{if .IsCacheAsGroup}}
type {{.ClassOrClassGroup}} struct {
	BlockNumber      base.Blknum
	TransactionIndex base.Txnum
	{{if .NeedsAddress}}Address          base.Address
	{{end}}{{.Class}}s      []{{.Class}}
}

func (s *{{.ClassOrClassGroup}}) MarshalCache(writer io.Writer) (err error) {
	return cache.WriteValue(writer, s.{{.Class}}s)
}

func (s *{{.ClassOrClassGroup}}) UnmarshalCache(vers uint64, reader io.Reader) (err error) {
	return cache.ReadValue(reader, &s.{{.Class}}s, vers)
}

{{end}}
{{end}}
func (s *{{.Class}}) MarshalCache(writer io.Writer) (err error) {
	{{range .Members}}{{.MarshalCode}}{{end}}

	return nil
}

func (s *{{.Class}}) UnmarshalCache(vers uint64, reader io.Reader) (err error) {
	// Check for compatibility and return cache.ErrIncompatibleVersion to invalidate this item (see #3638)
	// EXISTING_CODE
	// EXISTING_CODE

	{{range .Members}}{{.UnmarshalCode}}{{end}}

	s.FinishUnmarshal()

	return nil
}
{{end}}

// FinishUnmarshal is used by the cache. It may be unused depending on auto-code-gen
func (s *{{.Class}}) FinishUnmarshal() {
	// EXISTING_CODE
	// EXISTING_CODE
}

// EXISTING_CODE
// EXISTING_CODE
