accts
augur
bloomMan
bnt
chifra.txt
dao
etherTip
#---- this one is included, but only some files, not all
#ENS
firstBlood
freshen.mak
gnosis
hatch.mak
other
paritySMS
singular
tenX
whiteHat
mothership
tierion
