## chifra {{.Route}}

{{.HelpIntro}}

```[plaintext]
{{.HelpText}}
```

Data models produced by this tool:

{{.HelpDataModels}}{{.HelpNotes}}

{{.ReadmeFooter}}

*Copyright (c) 2024, TrueBlocks, LLC. All rights reserved. Generated with goMaker.*
