/*
output: src/dev-tools/goMaker/generated/readme-[[route]].md
scope: route
*/

## chifra {{.Route}}

{{.HelpIntro}}

```[plaintext]
{{.HelpText}}
```

Data models produced by this tool:

{{.HelpDataModels}}

Links:

{{.HelpLinks}}{{.HelpNotes}}
