name: BuildAndTest
on: [pull_request, workflow_dispatch]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout TrueBlocks repo
        uses: actions/checkout@v2
      - name: Install prerequistes
        run: |
          sudo apt-get install build-essential git cmake python python-dev libcurl3-dev clang-format jq tree
      - name: Build TrueBlocks
        run: |
          mkdir -p build && cd build
          cmake ../src
          make -j 4
  GoUnitTests:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          go-version: '^1.16.3' # The Go version to download (if necessary) and use.
      - run: cd src/apps/chifra && go test ./...
  RemoteTests:
    needs: GoUnitTests
    runs-on: ubuntu-latest
    steps:
      - name: Run tests remotely
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TESTING_HOST }}
          username: ${{ secrets.TESTING_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          command_timeout: 40m
          script_stop: true
          script: |
            rm -rf testing/${{ github.sha }}
            mkdir -p testing/${{ github.sha }}
            mkdir -p test_results/${{ github.sha }}
            cd  testing/${{ github.sha }}
            git clone --quiet https://github.com/${{ github.repository }}
            cd trueblocks-core
            git checkout ${{ github.head_ref }}
            cd src/other/build_assets/remote_testing
            CONFIG_FILE=$HOME/trueBlocks.toml bash test_with_docker.sh ${{ github.repository }} ${{ github.sha }} ${{ github.head_ref }} test-all
            docker system prune -af --filter "until=1h"
